* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  inline-size: 100%;
  block-size: 100%;
  font-size: 16px;
  line-height: 1;
}

input,
button,
textarea {
  font-family: inherit;
  color: inherit;
}

input,
textarea {
  caret-color: currentColor;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: inherit;
  opacity: 1;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: inherit;
  opacity: 1;
}

input::placeholder,
textarea::placeholder {
  color: inherit;
  opacity: 1;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  font-size: inherit;
  background: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: none;
}

textarea {
  resize: none;
}

a {
  color: inherit;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

ul,
ul li,
ol,
ol li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

address {
  font-style: normal;
}

dialog {
  position: fixed;
  inset: 0;
  z-index: 100;
  inline-size: 100%;
  max-inline-size: 100%;
  block-size: 100%;
  max-block-size: 100%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  overflow: auto;
}

dialog[open] {
  opacity: 1;
  visibility: visible;
}

.swiper {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/**
 * Swiper 8.4.7
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2023 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: January 30, 2023
 */

@font-face {
  font-family: "swiper-icons";
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --swiper-theme-color: #007aff;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}

.swiper-pointer-events {
  touch-action: pan-y;
}

.swiper-pointer-events.swiper-vertical {
  touch-action: pan-x;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */

.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: height, -webkit-transform;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;
}

.swiper-backface-hidden .swiper-slide {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* 3D Effects */

.swiper-3d,
.swiper-3d.swiper-css-mode .swiper-wrapper {
  -webkit-perspective: 1200px;
  perspective: 1200px;
}

.swiper-3d .swiper-wrapper,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}

.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* CSS Mode */

.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}

.swiper-vertical.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}

.swiper-centered > .swiper-wrapper::before {
  content: "";
  flex-shrink: 0;
  order: 9999;
}

.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-start: var(--swiper-centered-offset-before);
  margin-inline-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  width: var(--swiper-centered-offset-after);
}

.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-before: var(--swiper-centered-offset-before);
  margin-block-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  height: var(--swiper-centered-offset-after);
}

.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
  scroll-snap-stop: always;
}

.ibg {
  position: relative;
  isolation: isolate;
  overflow: hidden;
}

.ibg img {
  position: absolute;
  inset: 0;
  z-index: -2;
  inline-size: 100%;
  block-size: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  margin: -1px;
  padding: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
  border: none;
  outline: none;
  outline-offset: 0;
}

.background-image {
  position: fixed;
  inset: 0;
  z-index: -1;
  -webkit-filter: grayscale(0.75) opacity(0.5) brightness(0.25);
  filter: grayscale(0.75) opacity(0.5) brightness(0.25);
  -webkit-animation: pulse 5s linear infinite alternate;
  animation: pulse 5s linear infinite alternate;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-filter: grayscale(0.75) opacity(0.5) brightness(0.25);
    filter: grayscale(0.75) opacity(0.5) brightness(0.25);
  }

  100% {
    -webkit-filter: grayscale(1) opacity(0.5) brightness(0.25);
    filter: grayscale(1) opacity(0.5) brightness(0.25);
  }
}

@keyframes pulse {
  0% {
    -webkit-filter: grayscale(0.75) opacity(0.5) brightness(0.25);
    filter: grayscale(0.75) opacity(0.5) brightness(0.25);
  }

  100% {
    -webkit-filter: grayscale(1) opacity(0.5) brightness(0.25);
    filter: grayscale(1) opacity(0.5) brightness(0.25);
  }
}

.title-h2 {
  font-weight: 700;
  font-size: 50px;
  text-align: center;
}

html {
  scroll-behavior: smooth;
  scroll-padding-block-start: var(--header-wrapper-block-size);
}

.body {
  position: relative;
  isolation: isolate;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #ddd;
  background-color: #333;
}

.lock .body {
  overflow: hidden;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-block-size: 100%;
  overflow: hidden;
}

.container {
  max-inline-size: 1200px;
  margin-inline: auto;
  padding-inline: 15px;
}

.header__wrapper {
  position: fixed;
  inset-block-start: 0;
  inset-inline: 0;
  z-index: 50;
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 0.3s;
}

.scrolled .header__wrapper {
  background-color: #333;
}

.header__inner {
  display: flex;
  align-items: center;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  padding-block: 10px;
}

.header__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 5px;
  padding-inline: 20px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color: #80f;
  border-radius: 5px;
  transition-property: background-color;
  transition-duration: 0.3s;
}

.header__button:focus-visible {
  background-color: #f80;
}

.header-logo {
  flex: 1 1 auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: default;
}

.header-logo__text {
  display: block;
  line-height: 1;
  text-transform: lowercase;
  font-variant: small-caps;
}

.header-logo__text--big {
  font-weight: 700;
  font-size: 23px;
  text-transform: uppercase;
}

.header-nav__list {
  display: flex;
  align-items: center;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
}

.header-nav__link {
  position: relative;
  transition-property: color;
  transition-duration: 0.3s;
}

.header-nav__link:focus-visible {
  color: #f80;
}

.header-nav__link::after {
  content: "";
  position: absolute;
  inset-block-end: -5px;
  inset-inline-start: 50%;
  inline-size: 0;
  block-size: 2px;
  background-color: #f80;
  border-radius: 4px;
  transition-property: inset-inline-start, inline-size;
  transition-duration: 0.3s;
}

.header-nav__link.active {
  color: #f80;
}

.header-nav__link.active::after {
  inset-inline-start: 0;
  inline-size: 100%;
}

.main {
  flex: 1 1 auto;
}

.banner__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 50px;
  min-block-size: 100vh;
  padding-block: calc(var(--header-wrapper-block-size) + 50px) 50px;
}

.banner__title {
  font-weight: 700;
  font-size: 75px;
}

.banner__text {
  font-size: 20px;
  max-inline-size: 650px;
}

.banner__text p:not(:last-child) {
  -webkit-margin-after: 20px;
  margin-block-end: 20px;
}

.characteristics {
  padding-block: 50px;
}

.characteristics__title {
  -webkit-margin-after: 30px;
  margin-block-end: 30px;
}

.characteristics__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.characteristics__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 18px;
  background-color: rgba(51, 51, 51, 0.1);
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 0.1);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

.learn {
  padding-block: 50px;
}

.learn__title {
  -webkit-margin-after: 30px;
  margin-block-end: 30px;
}

.learn__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.learn__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 20px;
  padding-inline: 10px;
  text-align: center;
  background-color: rgba(51, 51, 51, 0.1);
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 0.1);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  transition-property: background-color;
  transition-duration: 0.5s;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.learn__item:nth-child(1),
.learn__item:nth-child(2),
.learn__item:nth-child(4) {
  grid-column: span 2;
}

.modules {
  padding-block: 50px;
}

.modules__buttons {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
  -webkit-margin-after: 30px;
  margin-block-end: 30px;
}

.modules__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
  background-color: rgba(51, 51, 51, 0.1);
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 0.1);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  transition-property: background-color;
  transition-duration: 0.5s;
}

.modules__button:focus-visible {
  background-color: rgba(221, 221, 221, 0.1);
}

.modules__button--active {
  background-color: rgba(255, 136, 0, 0.5);
  pointer-events: none;
}

.modules-slide > *:last-child {
  -webkit-margin-after: 0;
  margin-block-end: 0;
}

.modules-slide__title {
  -webkit-margin-after: 30px;
  margin-block-end: 30px;
}

.modules-slide__text > *:not(:last-child) {
  -webkit-margin-after: 20px;
  margin-block-end: 20px;
}

.modules-slide__text ul,
.modules-slide__text ol {
  -webkit-padding-start: 20px;
  padding-inline-start: 20px;
}

.modules-slide__text ul:not([data-nocolumns], .modules-slide__text ul ul,
.modules-slide__text ol ul),
.modules-slide__text ol:not([data-nocolumns], .modules-slide__text ul ul,
.modules-slide__text ol ul) {
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
}

.modules-slide__text ul:not([data-nocolumns], .modules-slide__text ul ul,
.modules-slide__text ol ul) li,
.modules-slide__text ol:not([data-nocolumns], .modules-slide__text ul ul,
.modules-slide__text ol ul) li {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  break-inside: avoid;
}

.modules-slide__text ul li,
.modules-slide__text ol li {
  max-inline-size: 768px;
}

.modules-slide__text ul li:not(:last-child),
.modules-slide__text ol li:not(:last-child) {
  -webkit-margin-after: 10px;
  margin-block-end: 10px;
}

.modules-slide__text ul > li {
  list-style: disc;
}

.modules-slide__text ol > li {
  list-style: decimal;
}

.modules-slide__text p {
  max-inline-size: 768px;
}

.modules-slide__text h4 {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}

.staff {
  padding-block: 50px;
}

.staff__title {
  -webkit-margin-after: 30px;
  margin-block-end: 30px;
}

.staff__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.staff__item {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  padding: 20px;
  background-color: rgba(51, 51, 51, 0.1);
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 0.1);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

.staff__name {
  font-weight: 700;
  font-size: 20px;
}

.staff__job {
  font-size: 12px;
}

@media (hover: hover) {
  .header__button:hover {
    background-color: #f80;
  }

  .header-nav__link:hover {
    color: #f80;
  }

  .learn__item:hover {
    background-color: rgba(221, 221, 221, 0.1);
  }

  .modules__button:hover {
    background-color: rgba(221, 221, 221, 0.1);
  }
}